In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('imdb.csv')

In [3]:
df.head()

                                       Title         Year  Rating
0                        House of the Dragon     (2022– )     8.8
1  The Lord of the Rings: The Rings of Power     (2022– )     6.7
2                                The Sandman     (2022– )     7.8
3                            Game of Thrones  (2011–2019)     9.2
4                                  Samaritan       (2022)     5.8